<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Isoulfree" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54121/soulfree.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Isoulfree" contract="WebServer.Isoulfree"
        name="BasicHttpBinding_Isoulfree" />
    </client>
  </system.serviceModel>
</configuration>